%h1 Sample App ABOUT
%p
  This is the about page for the
  #{link_to "Ruby on Rails Tutorial", "http://railstutorial.org/"}
  sample application.
%dib

%h1 Pages#abouy#haml
%p Find me in app/views/pages/about.html.haml
