%h1 Sample App CONTACT
%p
  This is the contact page for the
  #{link_to "Ruby on Rails Tutorial", "http://railstutorial.org/"}
  sample application.
%dib

%h1 Pages#contact#haml
%p Find me in app/views/pages/contact.html.haml
