%h1 Sample App HOOOME #{@title}
%p
  This is the home page for the
  #{link_to "Ruby on Rails Tutorial", "http://railstutorial.org/"}
  sample application.
%dib

%h1 Pages#home#haml
%p Find me in app/views/pages/home.html.haml

.text
  only text

.simple
  simple and round

%hr

%h1 Bootstrap check
.row-fluid{:style => "outline: 1p solid green; width: 50%;"}
  .span4{:style => "outline: 1p solid red"}
    Span 4
  .span8{:style => "outline: 1p solid blue"}
    Span 8
  